= Кто мы

Молодая пара, готовы заводить детей, обосноваться на одном месте.
Есть 15 лет опыта жизни в Спб и 4 года в Москве. Знаем довольно хорошо оба города.


= Что ищем

2 комнаты и более, 
50 кв.м и более,
не газ,
коммерческое жилье, приличные соседи,
этаж выше 3го,
отсутствие рядом промки, шумной дороги,
раздельный сан.узел или 2+ туалета,
(в идеале) дом постройки 2000 - 2014,
(в идеале) дом не высотной застройки (менее 20 этажей), чем меньше - тем лучше,
(в идеале) не панель, не блочный,
(в идеале) распашонка,
(в идеале) изолированные комнаты,
(в идеале) вид из окон на простор и природу,
(в идеале) заехать и жить


= Бюджет
есть 4 млн руб, стабильный белый доход, несколько раз одобряли ипотеку,
желаемый бюджет 12 млн, готовы расширить до 14 если совсем всё понравится


= Какие локации рассматриваем, адреса домов

1) крылатское
2) кунцево
3) куркино
4) вернадского-югозападная-тропарево

= Запрос

Если у вас есть, что предложить нам к рассмотрению, мы готовы сотрудничать.


___
