= Кто мы

Молодая пара, готовы заводить детей, обосноваться на одном месте.
Есть 15 лет опыта жизни в Спб и 4 года в Москве. Знаем довольно хорошо оба города.


= Что ищем

2 комнаты и более, 
50 кв.м и более,
не газ,
коммерческое жилье, приличные соседи,
этаж выше 3го,
(в идеале) дом постройки 2000 - 2014,
(в идеале) дом не высотной застройки (менее 12 этажей),
(в идеале) не панель, не блочный,
(в идеале) распашонка,
(в идеале) изолированные комнаты,
(в идеале) вид из окон на простор и природу,
(в идеале) два туалета,
(в идеале) заехать и жить


= Бюджет
есть 4 млн руб, стабильный белый доход, несколько раз одобряли ипотеку,
желаемый бюджет 12 млн, готовы расширить до 14 если совсем всё понравится


= Как локации рассматриваем, адреса домов

1) Спб, приморский район, около парка 300 летия, до жд
 жк Золотая Гавань
 приморский пр 159, 163
 туристская 2, 4
 савушкина 128 к1

2) г.Сестрорецк
  ул Воскова 5
  Токарева 24
  Дубковское ш 9


= Запрос

Если у вас есть, что предложить нам к рассмотрению, мы готовы сотрудничать.
